USE [master]
GO
/****** Object:  Database [FacturacionDB]    Script Date: 14/09/2025 15:31:29 ******/
CREATE DATABASE [FacturacionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacturacionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FacturacionDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FacturacionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FacturacionDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacturacionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacturacionDB]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_DetalleFactura]    Script Date: 14/09/2025 15:31:29 ******/
CREATE TYPE [dbo].[TVP_DetalleFactura] AS TABLE(
	[ArticuloId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[ArticuloId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[PrecioUnitario] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticuloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Articulo_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[DetalleId] [int] IDENTITY(1,1) NOT NULL,
	[FacturaId] [int] NOT NULL,
	[ArticuloId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Detalle_Factura_Articulo] UNIQUE NONCLUSTERED 
(
	[FacturaId] ASC,
	[ArticuloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Factura]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[FacturaId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[FormaPagoId] [int] NOT NULL,
	[Cliente] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FormaPago]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaPago](
	[FormaPagoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormaPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Articulo_Nombre]    Script Date: 14/09/2025 15:31:29 ******/
CREATE NONCLUSTERED INDEX [IX_Articulo_Nombre] ON [dbo].[Articulo]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleFactura_FacturaId]    Script Date: 14/09/2025 15:31:29 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleFactura_FacturaId] ON [dbo].[DetalleFactura]
(
	[FacturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Articulo] FOREIGN KEY([ArticuloId])
REFERENCES [dbo].[Articulo] ([ArticuloId])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_Detalle_Articulo]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura] FOREIGN KEY([FacturaId])
REFERENCES [dbo].[Factura] ([FacturaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_Detalle_Factura]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_FormaPago] FOREIGN KEY([FormaPagoId])
REFERENCES [dbo].[FormaPago] ([FormaPagoId])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_FormaPago]
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[Articulo_Delete]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Articulo_Delete]
    @ArticuloId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM Articulo WHERE ArticuloId = @ArticuloId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[Articulo_GetById]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Articulo_GetById]
    @ArticuloId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ArticuloId, Nombre, PrecioUnitario
    FROM Articulo
    WHERE ArticuloId = @ArticuloId;
END

GO
/****** Object:  StoredProcedure [dbo].[Articulo_Insert]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Articulo_Insert]
    @Nombre NVARCHAR(200),
    @PrecioUnitario DECIMAL(18,4),
    @ArticuloId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Articulo (Nombre, PrecioUnitario)
        VALUES (@Nombre, @PrecioUnitario);

        SET @ArticuloId = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[Articulo_List]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Articulo_List]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ArticuloId, Nombre, PrecioUnitario
    FROM Articulo
    ORDER BY Nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[Articulo_Update]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Articulo_Update]
    @ArticuloId INT,
    @Nombre NVARCHAR(200),
    @PrecioUnitario DECIMAL(18,4)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Articulo
        SET Nombre = @Nombre,
            PrecioUnitario = @PrecioUnitario
        WHERE ArticuloId = @ArticuloId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[DetalleFactura_AddOrIncrement]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DetalleFactura_AddOrIncrement]
    @FacturaId INT,
    @ArticuloId INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    IF @Cantidad <= 0
    BEGIN
        THROW 51000, 'La cantidad debe ser mayor a 0.', 1;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @Precio DECIMAL(18,4);

        -- Obtener precio actual del articulo (se guarda en detalle al momento de agregarse)
        SELECT @Precio = PrecioUnitario FROM Articulo WHERE ArticuloId = @ArticuloId;
        IF @Precio IS NULL
        BEGIN
            THROW 51001, 'Artículo no existe.', 1;
        END

        -- Si existe detalle para factura+articulo -> update cantidad, sino insert
        IF EXISTS (SELECT 1 FROM DetalleFactura WHERE FacturaId = @FacturaId AND ArticuloId = @ArticuloId)
        BEGIN
            UPDATE DetalleFactura
            SET Cantidad = Cantidad + @Cantidad
            WHERE FacturaId = @FacturaId AND ArticuloId = @ArticuloId;
        END
        ELSE
        BEGIN
            INSERT INTO DetalleFactura (FacturaId, ArticuloId, Cantidad, PrecioUnitario)
            VALUES (@FacturaId, @ArticuloId, @Cantidad, @Precio);
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[DetalleFactura_Delete]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DetalleFactura_Delete]
    @FacturaId INT,
    @ArticuloId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM DetalleFactura
        WHERE FacturaId = @FacturaId AND ArticuloId = @ArticuloId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[DetalleFactura_ListByFactura]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DetalleFactura_ListByFactura]
    @FacturaId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT d.DetalleId, d.FacturaId, d.ArticuloId, a.Nombre AS ArticuloNombre, d.Cantidad, d.PrecioUnitario,
           (d.Cantidad * d.PrecioUnitario) AS TotalLinea
    FROM DetalleFactura d
    LEFT JOIN Articulo a ON a.ArticuloId = d.ArticuloId
    WHERE d.FacturaId = @FacturaId;
END

GO
/****** Object:  StoredProcedure [dbo].[DetalleFactura_UpdateCantidad]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DetalleFactura_UpdateCantidad]
    @FacturaId INT,
    @ArticuloId INT,
    @NuevaCantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    IF @NuevaCantidad <= 0
    BEGIN
        THROW 51002, 'La cantidad debe ser mayor a 0.', 1;
    END
    BEGIN TRY
        UPDATE DetalleFactura
        SET Cantidad = @NuevaCantidad
        WHERE FacturaId = @FacturaId AND ArticuloId = @ArticuloId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[Factura_CreateWithDetails]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Factura_CreateWithDetails]
    @Fecha DATETIME = NULL,
    @FormaPagoId INT,
    @Cliente NVARCHAR(250) = NULL,
    @Detalles dbo.TVP_DetalleFactura READONLY,
    @FacturaId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1) Insertar la factura
        INSERT INTO Factura (Fecha, FormaPagoId, Cliente)
        VALUES (ISNULL(@Fecha, GETDATE()), @FormaPagoId, @Cliente);

        SET @FacturaId = SCOPE_IDENTITY();

        -- 2) Insertar o incrementar cada detalle (usa el procedimiento DetalleFactura_AddOrIncrement)
        DECLARE @ArticuloId INT;
        DECLARE @Cantidad INT;

        DECLARE detalles_cursor CURSOR FOR
            SELECT ArticuloId, Cantidad FROM @Detalles;

        OPEN detalles_cursor;
        FETCH NEXT FROM detalles_cursor INTO @ArticuloId, @Cantidad;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Llamamos internamente al SP que maneja insert o increment
            EXEC dbo.DetalleFactura_AddOrIncrement @FacturaId = @FacturaId, @ArticuloId = @ArticuloId, @Cantidad = @Cantidad;
            FETCH NEXT FROM detalles_cursor INTO @ArticuloId, @Cantidad;
        END
        CLOSE detalles_cursor;
        DEALLOCATE detalles_cursor;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[Factura_Delete]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Factura_Delete]
    @FacturaId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM Factura WHERE FacturaId = @FacturaId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[Factura_GetById]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Factura_GetById]
    @FacturaId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT f.FacturaId, f.Fecha, f.Cliente, fp.FormaPagoId, fp.Nombre AS FormaPago
    FROM Factura f
    INNER JOIN FormaPago fp ON fp.FormaPagoId = f.FormaPagoId
    WHERE f.FacturaId = @FacturaId;

    SELECT d.DetalleId, d.ArticuloId, a.Nombre AS Articulo, d.Cantidad, d.PrecioUnitario, (d.Cantidad*d.PrecioUnitario) AS TotalLinea
    FROM DetalleFactura d
    INNER JOIN Articulo a ON a.ArticuloId = d.ArticuloId
    WHERE d.FacturaId = @FacturaId;

    -- Total general
    SELECT SUM(d.Cantidad * d.PrecioUnitario) AS TotalFactura
    FROM DetalleFactura d
    WHERE d.FacturaId = @FacturaId;
END

GO
/****** Object:  StoredProcedure [dbo].[Factura_Insert]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Factura_Insert]
    @Fecha DATETIME = NULL,
    @FormaPagoId INT,
    @Cliente NVARCHAR(250) = NULL,
    @FacturaId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Factura (Fecha, FormaPagoId, Cliente)
        VALUES (ISNULL(@Fecha, GETDATE()), @FormaPagoId, @Cliente);

        SET @FacturaId = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[Factura_List]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Factura_List]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT f.FacturaId, f.Fecha, f.Cliente, fp.Nombre AS FormaPago,
           ISNULL((SELECT SUM(d.Cantidad * d.PrecioUnitario) FROM DetalleFactura d WHERE d.FacturaId = f.FacturaId),0) AS Total
    FROM Factura f
    INNER JOIN FormaPago fp ON fp.FormaPagoId = f.FormaPagoId
    ORDER BY f.Fecha DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[FormaPago_List]    Script Date: 14/09/2025 15:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FormaPago_List]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT FormaPagoId, Nombre FROM FormaPago ORDER BY FormaPagoId;
END

GO
USE [master]
GO
